= link_to '在庫登録', new_product_path

- @product.each_with_index do |product, i|
  %div
    %div
      = i + 1
  %div
    %div
      = product.name
  %div
    %div
      = product.quantity
  %div
    %div
      = product.low_quantity