%h1 在庫登録
= link_to 'TOP', root_path

= form_with(model: @product, url: products_path, local: true) do |f|
  %div
    = f.text_field :name
  %div
    = f.number_field :quantity, type: "number", min: "1", max: "9999999", required: true
  %div
    = f.number_field :low_quantity, type: "number", min: "1", max: "9999999", required: true
  %div
    = f.submit '登録する'